{{define "show"}}

{{template "header"}}
<main class="container">
    <div class="col-md-12">
        <div>
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{.Title}}</h3><br>
                <p class="card-text mb-auto">{{.FullText}}</p>
                <div class="mb-1 text-muted"></div>
            </div>
        </div>
        <form action="/delete/{{.Id}}" method="post">
            <button class="btn btn-warning">Удалить</button>
        </form>
</main>
<footer class="blog-footer">
</footer>
</body>
</html>


{{ end }}